.App {
  text-align: center;
}

p{
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
}

li{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  list-style: none;
}

#navBar{
  margin-bottom: 5vh;
  background-color: black;
  color:white;
}

#innerNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#innerNav h2{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

#shoppingList{
  width:40vw;
  height:0;
}

.myIcons:hover{
  transform: scale(1.2);
  color:green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
